html, body, .container {
    height: 100%;
}

a, a:hover {text-decoration: none;}
.containerIndex {
    margin-top: 1cm;
    /*margin-bottom: 1cm;*/
    vertical-align: middle;
    background-image: url(../img/Index_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.containerStart {
    margin-top: 1cm;
    /*margin-bottom: 1cm;*/
    vertical-align: middle;
    background-image: url(../img/Start_screen_background_940.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.containerEnd {
    margin-top: 1cm;
    /*margin-bottom: 1cm;*/
    vertical-align: middle;
    background-image: url(../img/Start_screen_background_940.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.woods {
    margin-top: 1cm;
    /*margin-bottom: 1cm;*/
    vertical-align: middle;
    background-image: url(../img/Woods_background_small.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
div.qvirus {display: block: float: left; height:200px; width:200px; background-repeat: no-repeat;}
.woods div.qvirus { background-image: url(../img/virus2.png);}
.playground div.qvirus { background-image: url(../img/virus3.png);}
.home div.qvirus { background-image: url(../img/virus4.png);}
    
.playground {
    margin-top: 1cm;
    /*margin-bottom: 1cm;*/
    vertical-align: middle;
    background-image: url(../img/Playground_background1.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    ;
}

.home {
    margin-top: 1cm;
    /*margin-bottom: 1cm;*/
    vertical-align: middle;
    background-image: url(../img/Home.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.howto{
    border-style: solid;
    border-width: 2px;
    background-image: url(../img/background_howto.jpg);
    border-radius: 10px; 
    position: absolute;
    font-weight: bold;
    text-align: justify;
    color: white;
    padding: 5px;
    box-shadow: 4px 4px 15px black;
}

.inputFields{
margin-top: 4cm;
font-weight: bold;
font-size: 30px;
}

.avatar{
height: 150px;
margin: 5px;

}
.player {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid black;
}

.playerScore {
    width: 100px;
    margin-top: 20px;
    border-radius: 10px; 
    text-align: center;
    line-height: 30px;
    font-weight: bold;
}

.playerName {
    width: 200px;
    margin-top: -20px;
    border-radius: 10px; 
    text-align: center;
    line-height: 30px;
    font-weight: bold;

}

.winnerName {
    width: 200px;
    border-radius: 10px; 
    text-align: center;
    line-height: 40px;
    box-shadow: 1px 1px 1px 5px white;
    background: #fbc967;
    border: 2px solid black;
    font-weight: bold;
}

.loserName{
    line-height: 20px;
    width: 150px;
    font-weight: bold;
}


.questionLarge {
    width: 500px;
    margin-top: 0px;
    border-radius: 10px; 
    text-align: center;
    line-height: 30px;
    box-shadow: 2px 2px 10px black;
    background: white;
    padding: 6px;
    margin: 25px;
}

.questionSmall {
    width: 488px;
    margin-top: 0px;
    border-radius: 10px; 
    text-align: center;
    line-height: 30px;
    background: #fcfcbb;
    border: 2px solid black;
    text-align: center;
    font-weight: bold;
    padding:10px;
    overflow: hidden;
}

.answerLarge {
    width: 400px;
    margin-top: 0px;
    border-radius: 10px; 
    text-align: center;
    line-height: 30px;
    box-shadow: 2px 2px 10px black;
    background: white;
    padding: 6px;
    margin: 25px;
}

.answerSmall {
    width: 388px;
    margin-top: 0px;
    border-radius: 10px; 
    text-align: center;
    line-height: 30px;
    background: #fcfcbb;
    border: 2px solid black;
    text-align: center;
    font-weight: bold;
    padding:10px;
}

.playerAvatar{
    margin-top: 10px;
    margin-left: 20px;
    margin-left: 20px;
}

.blue{
    box-shadow: 1px 1px 1px 5px white;
    background: #7cb1da;
    border: 2px solid black;
    background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%);
}

.red{
    background: #d55b32;    box-shadow: 1px 1px 1px 5px white;

    border: 2px solid black;
    background: linear-gradient(to bottom, rgba(242,130,91,1) 0%,rgba(229,91,43,1) 50%,rgba(240,113,70,1) 100%);
}

.btn{
box-shadow: 2px 2px 10px black;
/*color: white;
background-color: #869b5f;*/
} 

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

div.answer {cursor: pointer;}
div.answer:hover .answerSmall {opacity: 0.8;}
div.answerLarge:hover{
    box-shadow: 5px 5px 20px black;
}