{% extends "quiz/base.html" %}
{% load staticfiles %}
{% block content %}
<div id="quiz">
<div class="row">
        <div class="col-md-3">
            <div class="player blue"><div class="playerAvatar"><img src="{{ avatar }}"></div></div>
            <div class="playerName blue">{{player.name}}</div>
            <div class="playerScore blue"><span id="p1points">0</span></div>
            </div>
        
        
        <div class="col-md-3 col-xs-offset-6">
            <div class="player red"><div class="playerAvatar"><img src="{% static "yolo/img/avatar/girl.png" %}"></div></div>
            <div class="playerName red">Player 2</div>
            <div class="playerScore red"><span id="p2points">0</span></div>
        </div>
        </div>
    <div class="row">
        <div class="col-md-3 col-xs-offset-3 ">
            <div class="questionLarge"><div class="questionSmall"><div class="qvirus" style="float:left"></div>
            <p id="question"></p>
            </div></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="answerLarge answer">
                <div class="answerSmall">
                    <p data-val="" id="ans1"></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="answerLarge answer">
                <div class="answerSmall">
                    <p data-val="" id="ans2"></p>
                </div>
            </div>
            </div>
        </div>
</div>
<div id="end" style="display: none;">         
<div class="row">
    <div class="col-md-8 col-md-offset-2" style="margin-bottom:1cm"><img src="{% static "yolo/img/Index_logo.png" %}"></div>
    </div>
    <div class ="row">
        <div class= "col-md-11 col-md-offset-2">
            <img src="{% static "yolo/img/winner.png" %}"><img src="{% static "yolo/img/loser.png" %}" style="margin-top:60px">
        </div>
        <div class= "col-md-offset-4 col-md-3">
            <div id="winner" class="winnerName">WINNER</div>
        </div>
        <div class="col-md-offset-2 col-md-2">
            <div id="loser" class="winnerName loserName">LOSER</div>
        </div>
        </div>
        <div class="row" style="margin-top:35px;">
       
       <div class= "col-md-offset-2 col-md-6">
            <a href="{% url "quiz.views.quiz" "yolo" %}"><button type="button" class="btn btn-warning btn-lg btn-block">Play again!</button></a>
        </div>
        
    </div>
</div>        
</div>
        
        
<script>
var questions = {{questions}};
var qnumber = 1;
var p1oints = 0;
var p2oints = 0;
var json;
function getQuestion(qid) {
    $.getJSON("{% url 'quiz.views.get_question' %}?qid="+qid, function(data) {
        json = data;
        $('p#question').html(json.question);
        $('p#ans1').html(json.answers[0].text);
        $('p#ans2').html(json.answers[1].text);
        $('p#ans1').attr('data-val',json.answers[0].id);
        $('p#ans2').attr('data-val',json.answers[1].id);
        $('body').attr('class',json.set);
        qnumber = qnumber + 1;
    });
}
function nextQuestion() {
    if (qnumber < questions.length) {
        getQuestion(questions[qnumber]);
    } else {
        $('div#quiz').fadeOut();
        $('body').attr('class',"containerEnd");
        $('div#end').fadeIn();
        $("div#winner").html((p1oints > p2oints) ? $('span#p1points').parent().siblings(".playerName").text() : $('span#p2points').parent().siblings(".playerName").text()); 
        $("div#loser").html((p1oints < p2oints) ? $('span#p1points').parent().siblings(".playerName").text() : $('span#p2points').parent().siblings(".playerName").text()); 

        console.log('you are done');
    }
}
function checkAnswer(aid) {
    $.getJSON("{% url 'quiz.views.check_answer' %}?aid="+aid, function(data) {
        p1oints = p1oints + data.score;
        $('span#p1points').html(p1oints);
        p2oints = p2oints + (1-data.score);
        $('span#p2points').html(p2oints);
        
    })
}
$(function(){
    getQuestion(questions[qnumber]);
    $('div.answer').click(function(){
        var ansid = $(this).find('p').attr('data-val');
        checkAnswer(ansid);
        nextQuestion();
        });
    
});
    
</script>
{% endblock content %}